
<hr />
Social Media Login

{% for clientKey in clientKeys %}
<button>
    <a class="btn" href="{{ path('connect_start', {clientKey: 'github_controller'}) }}"><i class="fab fa-github fa-3x"></i> Login/Register with Github</a>
</button>
{% endfor %}

{#
<button>
    <a class="btn" href="{{ path('connect_github_start', {clientCode: 'github'}) }}"><i class="fab fa-github fa-3x"></i> Login with Github, using AUTH</a>
</button>

<button>
    <a class="btn" href="{{ path('connect_google_start') }}"><i class="fab fa-google fa-3x"></i> Login with Google</a>
</button>
#}