
<hr />
Social Media Login
<button>
    <a class="btn" href="{{ path('connect_github_start') }}"><i class="fab fa-github fa-3x"></i> Login with Github</a>
</button>

<button>
    <a class="btn" href="{{ path('connect_google_start') }}"><i class="fab fa-google fa-3x"></i> Login with Google</a>
</button>
