{% set landingMenu = knp_menu_get('landing_menu') %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <img src="{{ asset('/favicon-16x16.png') }}" />


        {{ knp_menu_render('landing_menu', {'currentClass': 'active', 'template': '@SurvosLanding/knp_menu.html.twig'}) }}
        {{ false and knp_menu_render('social_menu', {'currentClass': 'active', 'template': '@SurvosLanding/knp_menu.html.twig'}) }}
        {{ knp_menu_render('auth_menu', {'currentClass': 'active', 'template': '@SurvosLanding/knp_menu.html.twig'}) }}
    </div>
</nav>


